//Colors
$primary-color: #dca954;
$secondary-color: #a97632;
$white: #ffffff;
$background: #fafaf4;

//Effects
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

//Sizing
$container-width: 800px;
$size1: 10px;
$size2: 15px;
$size3: 20px;
$size4: 30px;